In [1]:
import pandas as pd
import numpy as np

# Added 'r' before the path string
df_raw = pd.read_csv(r"C:\Users\rshie\financial-operations-analytics\data\raw\credit_card_transactions.csv")
df = df_raw.copy()

In [2]:
columns_to_drop = [
    "Unnamed: 0",
    "first", "last",
    "street", "zip",
    "lat", "long", "merch_lat", "merch_long",
    "job", "gender",
    "unix_time", "merch_zipcode"
]

df.drop(columns=columns_to_drop, inplace=True)

In [3]:
df.shape
df.columns

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'city', 'state', 'city_pop', 'dob', 'trans_num', 'is_fraud'],
      dtype='object')

In [4]:
df["trans_date_trans_time"] = pd.to_datetime(df["trans_date_trans_time"])

In [5]:
df.rename(columns={
    "trans_num": "transaction_id",
    "cc_num": "customer_id",
    "amt": "amount",
    "trans_date_trans_time": "transaction_date"
}, inplace=True)

In [6]:
df = df[df["amount"] > 0]

In [7]:
df["status"] = np.where(df["is_fraud"] == 1, "FAILED", "SUCCESS")

In [8]:
df["dob"] = pd.to_datetime(df["dob"])

df["age"] = (pd.Timestamp("now") - df["dob"]).dt.days // 365

df["age_group"] = pd.cut(
    df["age"],
    bins=[18, 25, 35, 45, 55, 65, 100],
    labels=["18-25", "26-35", "36-45", "46-55", "56-65", "65+"]
)

df.drop(columns=["dob", "age"], inplace=True)

In [9]:
df.isnull().sum()
df.describe()

,transaction_date,customer_id,amount,city_pop,is_fraud
count,1296675,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,2019-10-03 12:47:28.070214144,4.171920e+17,7.035104e+01,8.882444e+04,5.788652e-03
min,2019-01-01 00:00:18,6.041621e+10,1.000000e+00,2.300000e+01,0.000000e+00
25%,2019-06-03 19:12:22.500000,1.800429e+14,9.650000e+00,7.430000e+02,0.000000e+00
50%,2019-10-03 07:35:47,3.521417e+15,4.752000e+01,2.456000e+03,0.000000e+00
75%,2020-01-28 15:02:55.500000,4.642255e+15,8.314000e+01,2.032800e+04,0.000000e+00
max,2020-06-21 12:13:37,4.992346e+18,2.894890e+04,2.906700e+06,1.000000e+00
std,NaN,1.308806e+18,1.603160e+02,3.019564e+05,7.586269e-02

In [10]:
len(df_raw), len(df)

(1296675, 1296675)

In [12]:
final_columns = [
    "transaction_id",
    "customer_id",
    "transaction_date",
    "amount",
    "merchant",
    "category",
    "city",
    "state",
    "age_group",
    "status",
    "is_fraud"
]

df_final = df[final_columns]

In [13]:
df.to_csv("C:/Users/rshie/financial-operations-analytics/data/cleaned/transactions_cleaned.csv", index=False)

In [14]:
print(df_final.columns)
print(len(df_final.columns))

Index(['transaction_id', 'customer_id', 'transaction_date', 'amount',
       'merchant', 'category', 'city', 'state', 'age_group', 'status',
       'is_fraud'],
      dtype='object')
11

In [16]:
df_final.to_csv(
    "C:/Users/rshie/financial-operations-analytics/data/cleaned/transactions_cleaned.csv",
    index=False
)

In [17]:
import pandas as pd

df_check = pd.read_csv("C:/Users/rshie/financial-operations-analytics/data/cleaned/transactions_cleaned.csv")
print(df_check.shape)

(1296675, 11)